header.container {
    height: 80px;
    box-shadow: 10px 10px 10px #494b49;

}
.container.hero-scene{
    height: 80vh;
    background-color: #ffffff;
}
.container.features {
    padding: 40px 0;
}

.features-card {
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 40px;
    transition: all ease .3s;
}

.features-card:hover {
    transform: scale(1.05);
}