
li {
    display: inline-block;
    margin: 0 10px;
    text-decoration: underline;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 85px;
    padding-right: 35px;
}

.nav-links{
    color: #1264c9;
    font-weight: bold;
    flex-wrap: unset;
}

.sub-section {
    width: 700px;
}

.content-row {
    padding-top: 20px;
    padding-bottom: 200px;
}

.heading {
    padding-bottom: 30px;
}

.icon-image-wrapper {
    width: 200px;
}

.footer-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
@media screen and (max-width: 1400px) {
    .alert-info {display: none;}
}

@media screen and (max-width: 768px) {
    .page-wrapper{ display: flex;
        max-width: 350px;
        flex-wrap: unset;

    }
    .alert-info.hidden-on-desktop {
        display: flex;
        width: 350px;
        justify-content: center;
        align-items: center;
        background-color: rgb(205,255,255);
        height: 35px;
        border: rgb(204,204,204);
        border-width: 5px;

    }
    .nav row {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-left: 0px;
        padding-right: 0px;


    }
    .nav-links {
        display: flex;
        width: 350px;
        flex-direction: column;
        padding: 0px;
        gap: 10px;

    }

    li {
        display: flex;
        height:35px;
        width: 350px;
        background-color: rgb(204,204,204);
        text-decoration: rgb(89,89,234);
        text-decoration: underline;
        justify-content: center;
        align-items: center;
        margin: 0px;

    }

    .content-row {
        display: flex;
        flex-direction: column;
        width: 350px;
    }
    .sub-section {
        width: 350px
    }
}

